// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

$primary   : #0057ad;
$secondary : #008f81;
$accent    : #6c0080;

$dark      : #4a4a4a;
$dark-page : #121212;

$positive  : #00b52a;
$negative  : #d60019;
$info      : #008aa6;
$warning   : #cc5800;
